body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-family: Arial;
  color: white;
}

.center-div {
  display: flex;
  justify-content: center;
  height: 70px;
}

#titre {
  height: 50px;
  padding: 0.2em;
  background:#2a403d;
}

#titreText {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  margin-top : 7px;
  position: absolute;
}

nav {
  height: auto;
  background-color: rgb(0, 0, 0);
  padding: 0.5em;
  margin: 0;
}

nav ul {
  display: inline-flex;
}

nav a {
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: large;
}

nav ul li {
  display: inline;
  position: relative;
  margin-left: 50px;
}

h2 {
  font-size: x-large;
  text-align: center;
  color: rgb(255, 255, 255);
  background:#2a403d;
  padding: 1em;
  margin: 0;
}

#pourTuto {
  margin-top: 0.5%;
  position: absolute;
}

.tutorial {
  display: none;
  position: static;
  background-color: white;
  font-size: medium;
  font-weight: normal;
  color: black;
  width: 200px;
  height: 33px;
  padding: 10px;
  text-align: center;
}

.tutorial a {
  color: black;
}

#video:hover .tutorial {
  display: block;
}