#titre {
    height: auto;
    padding: 0.2em;
    background: #663405;
    text-align: center;
    font-size: xx-large;
    font-family: Impact;
    color: black;
  }
  
  #nav {
    height: auto;
    background: #d46b08;
    padding: 0.5em;
    margin: 0;
  }
  
  #nav li {
    display: inline;
    list-style: none;
  }
  
  #nav a {
    display: inline;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: large;
    margin-left: 5%;
  }
  
  body {
    margin: 0;
  }

  h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    background: #d46b08;
    padding: 1em;
  }

  .gridFilm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(268px, auto);
  }

  .film {
    border: solid 4px;
    border-color: #663405;
    display: inline-flex;
    background: #d46b08;
  }

  .carac_film {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 1em;
  }
  
  .carac_film li {
    display: block;
    list-style: none;
    max-width: 100%;
  }
  
  .img_film {
    width: 182px;
  }